---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
      <div id="imgs"></div>
      <script>
        function shuffle(array) {
          let currentIndex = array.length, randomIndex;

          // While there remain elements to shuffle.
          while (currentIndex != 0) {

            // Pick a remaining element.
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;

            // And swap it with the current element.
            [array[currentIndex], array[randomIndex]] = [
              array[randomIndex], array[currentIndex]];
          }

          return array;
        }

        let js_array =[];
          {% for image in site.static_files %}
            {% if image.path contains 'fulls' %}
                js_array.push('{{image.name}}');
            {% endif %}
          {% endfor %}
        shuffle(js_array)

        for (let i = 0; i < Math.min(50, js_array.length); i++) { 
          text = 
            '<article class="thumb"> \
              <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/foobar" class="image"> \
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/foobar" alt="" \
                  data-name="foobar" /></a> \
            </article>';
          text = text.replaceAll("foobar", js_array[i]);
          text = text.replaceAll("ashamis.github.io/batdog", "batdog.shamis.au");
          console.log(text);
          document.getElementById("imgs").innerHTML += text;
        }

        </script>
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
                <section>
                    <h2>Sponsor</h2>
                    <div class="ad">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:block; text-align:center;"
                             data-ad-layout="in-article"
                             data-ad-format="fluid"
                             data-ad-client="ca-pub-1702577941194110"
                             data-ad-slot="9823584598"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}. Design: {{ site.web_design }}
                </p>
            </div>
        </div>
    </footer>
</div>
